@use 'variables'


.container-massagepart
    .container-content
        display: flex
        .container-picture
            width: 33%
        .container-text
            width: 66%
        h3 
            font-weight: bold
        

