// Couleurs principales
$primary-color: #fcf2e8ff
$secondary-color: #F0B1DF
$secondary-color-darker: #D68EB1
$tertiary-color: #cb4254

// Couleurs de texte et de fond
$background-color: #ffffff
$fonts-color: #333333
$fonts-color-light: #666666